@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* CSS variables */
:root {
    --blue:blue;
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


html{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: var(--dark);
}

body{
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn{
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1rem;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
}
img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap:20px;
}

 .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  ul{
	  list-style-type: none;
	}
	
  a {
  text-decoration: none;
	}



/* Navbar */
.navbar {
  background-color: var(--dark);
  color: #fff;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px #fff solid;
}

.navbar .flex {
  justify-content: space-between;
}



/* Top Container */

.top-container{
	padding-top: 30px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
   
}

/* Showcase */

.showcase {
    grid-area: showcase;
    min-height: 400px;
    background: url(images/web2.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    
}

.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);

}
.showcase p{
    font-size:2rem;
    margin-top: 0;
    color: var(--light);
}

/*  Top Box */

.top-box{
    background: var(--primary);
    display:grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 10px;
    
}

.top-box .price {
    font-size: 1rem;
}

.top-box-a{
    grid-area: top-box-a;
    
}

.top-box-b{
    grid-area: top-box-b;
}


/* Boxes */

.boxes {
    display: grid;
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 20px;
    margin-bottom: 20px;
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    text-decoration: none;
}
.box a{
   text-decoration: none;
   color: var(--dark);
}

.boxes :hover{
    color: black;
}

.info{
    display: grid;
    background: var(--primary);
    box-shadow: var(--shadow);
    grid-gap:20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 3rem;
    margin-bottom: 20px;
}

/* Portofolio */
.bara{
    background: var(--dark);
    color: var(--light);
    text-align: center;
    box-shadow: var(--shadow);
    margin-bottom: 20px;
}

.portofolio{
    display: grid;
    grid-gap:30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
}

div.gallery{
    width: 95%;
    background: var(--primary);
    box-shadow: var(--shadow);
    margin-bottom: 25px;
    border: 10px  var(--dark);
    padding: 10px;
  }
  
  div.desc {
    text-align: center;
    padding: 10px 20px;
  }
  div.gallery:hover {
    box-shadow: var(--shadow);
    background: var(--dark);
    color: var(--light);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
/* Footer */

footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
    box-shadow: var(--shadow);
} 




/* Media Queries */

@media (max-width: 700px) {
    .top-container{
        grid-template-areas: 
        'showcase shwocase'
        'top-box-a top-box-b';
    }

    .showcase h1{
        font-size: 2.5rem;
    }

    .info{
        grid-template-columns: 1fr;
    }
    .info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .top-container{
        grid-template-areas: 
        'showcase'
        'top-box-a' 
        'top-box-b';
    }
}


/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 150px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
  }
  
}
